.carousel-vertical {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.carousel-vertical .carousel-indicators li {
	border-color:  #650084;
	float: left;
}

.carousel-vertical .carousel-indicators .active {
	background-color: #650084;
}

.carousel-vertical .inner {
	display: block;
	overflow: hidden;
}

.carousel-vertical .item-carousel {
	position: relative;
	display: none;
	-webkit-transition: all 1200ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
	   -moz-transition: all 1200ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
	     -o-transition: all 1200ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
	        transition: all 1200ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.carousel-vertical .carousel-nav{
	position: absolute;
	z-index: 2;
	top: 50%;
}

.carousel-vertical .carousel-nav ol {
	margin: 0;
	padding: 0;
}

.carousel-vertical .carousel-nav ol li{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000\9;
	background-color: rgba(0,0,0,0);
	border: 1px solid #650084;
	border-radius: 10px;
}

.carousel-vertical .carousel-nav ol li.active{
	background-color: #650084;
}

.carousel-vertical .carousel-nav .text {
	color: #fff;
	font-size: 20px;
}

.item-carousel .text {
	display: none;
}

.carousel-vertical .item-carousel.active {
	display: block;
}

.carousel-vertical .item-carousel img {
	width: 100%;
}

.carousel-vertical .item-carousel.active.top {
	margin-top: -50.3%;
}

.carousel-vertical .item-carousel.next {
	display: block;
}