/*COMUM*/
* {outline: none !important; font-family: OpenSans-Regular;}
*:hover{-webkit-transition: all .15s ease; -moz-transition: all .15s ease; -ms-transition: all .15s ease; -o-transition: all .15s ease; transition: all .15s ease; }
a{cursor: pointer;}
input {outline: none !important; border: none !important; box-shadow: none !important; }
body {margin: 0; padding: 0;}

.padding {padding: 30px;}

/*BUTTONS*/
.btn-white {line-height: 24px; border:none !important; background-color: #fff !important; color: #3c025f !important; text-transform: uppercase; font-family: OpenSans-Semibold; font-size: 14px; padding-left: 30px; padding-right: 30px; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px; -ms-border-radius: 17px; -o-border-radius: 17px; }

/*FONTES*/
@font-face {font-family: 'OpenSans-Bold'; src: url('../fonts/OpenSans-Bold.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'OpenSans-BoldItalic'; src: url('../fonts/OpenSans-BoldItalic.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-BoldItalic.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-BoldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'OpenSans-ExtraBold'; src: url('../fonts/OpenSans-ExtraBold.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-ExtraBold.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'OpenSans-ExtraBoldItalic'; src: url('../fonts/OpenSans-ExtraBoldItalic.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-ExtraBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-ExtraBoldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'OpenSans-Italic'; src: url('../fonts/OpenSans-Italic.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-Italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'OpenSans-Light'; src: url('../fonts/OpenSans-Light.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-Light.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'OpenSans-LightItalic'; src: url('../fonts/OpenSans-LightItalic.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-LightItalic.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-LightItalic.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'OpenSans-Regular'; src: url('../fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'OpenSans-Semibold'; src: url('../fonts/OpenSans-Semibold.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'OpenSans-SemiboldItalic'; src: url('../fonts/OpenSans-SemiboldItalic.eot'); /* IE9 Compat Modes */ src: url('../fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/OpenSans-SemiboldItalic.woff') format('woff'), /* Modern Browsers */ url('../fonts/OpenSans-SemiboldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/OpenSans-SemiboldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */ }
@font-face {font-family: 'GillSansMTRegular'; src: url('../fonts/GillSansMTRegular.TTF'); src: url('../fonts/GillSansMTRegular.eot'); /* IE9 Compat Modes */ }
@font-face {font-family: GillSansMTRegular; src: url('../fonts/GillSansMTRegular.eot?iefix') format('opentype'), url('../fonts/GillSansMTRegular.ttf') format('truetype'); }
@font-face {font-family: GillSansMTNegrito; src: url('../fonts/GillSansMTNegrito.eot?iefix') format('opentype'), url('../fonts/GillSansMTNegrito.ttf') format('truetype'); }
@font-face {font-family: GillSansMTItalico; src: url('../fonts/GillSansMTItalico.eot?iefix') format('opentype'), url('../fonts/GillSansMTItalico.ttf') format('truetype'); }

/*.logo-rsa {width: 100%;}*/

/*COMUM*/
.breadcrumb {background-color: inherit; }
.breadcrumb>li{font-size: 11px; text-transform: uppercase; }
.breadcrumb>li+li:before {padding: 0 5px; color: #ccc; content: "|"; }
.breadcrumb>li>a{font-family: OpenSans-Light; color: #333333; text-decoration: none; }
.breadcrumb>li>a:hover {color: #000; }
.breadcrumb>.active {font-family: OpenSans-Semibold; color: #333; }

/*SEQUENCE JS*/
/*.seq {z-index: 9999;}*/
.seq .seq-half {position: absolute; top: 0; bottom: 0; width: 100%; }
.seq .seq-content {background: transparent; }
.seq .seq-content {color: #ffffff; font-family: OpenSans-Light; font-size: 36px; text-align: left; }
.seq .seq-content .box {background-color: #000; opacity: 0.5; width: 800px; color: #ffffff; font-family: OpenSans-Light; font-size: 36px; text-align: left; position: relative; left: 300px; top: 50px; vertical-align: middle; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px; -ms-border-radius: 17px; -o-border-radius: 17px;}
.seq h3 { color: #fff;}
.seq .paginacao {position: absolute; top: 50%; left:  380px; z-index: 99; margin-top: -100px; z-index: 999;}
.seq .paginacao li {float: left; }
.seq .paginacao a {color: red; z-index: 99; }
.seq .seq-pagination li {border: 1px solid #fff; margin-right: 12px; zoom:70%; }
.seq .seq-pagination li {background: transparent; }
.seq .seq-pagination li:focus, .seq .seq-pagination li:hover {background: none; }
.seq .seq-pagination li:after {display: none; }
.seq .seq-pagination li:before {background: #fff; border: #fff solid 1px; }
.seq .seq-button {z-index: 999999999; margin-top: 40px; padding-left: 75px; padding-right: 75px; border: none !important; box-shadow: none  !important; font-family: OpenSans-Light;; font-size: 14px; color: #ffffff; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px; -ms-border-radius: 17px; -o-border-radius: 17px; background: #3c0260; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzNjMDI2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTAxOTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(left,  #3c0260 1%, #750198 100%); background: -webkit-gradient(linear, left top, right top, color-stop(1%,#3c0260), color-stop(100%,#750198)); background: -webkit-linear-gradient(left,  #3c0260 1%,#750198 100%); background: -o-linear-gradient(left,  #3c0260 1%,#750198 100%); background: -ms-linear-gradient(left,  #3c0260 1%,#750198 100%); background: linear-gradient(to right,  #3c0260 1%,#750198 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c0260', endColorstr='#750198',GradientType=1 ); }
.seq-top {height: 100%; max-height: 690px; position: absolute; width: 100%; }
.seq.banner-logado {height: 655px; }
.seq .seq-content h3{font-size: 36px;}

/*HEADER*/
.container {position: absolute; z-index: 99; }
.container.container {/*padding: 30px;*/ }
.container .valign {margin-top: 100px; }
.container .input-icon.icon-right {height: 35px; width: 100%; }
.container .input-icon.icon-right button {float: right; position: absolute; right: 15px; bottom: -15px; height: 50px; background: #fff; border: none; border-top-right-radius: 10px; -webkit- border-top-right-radius: 10px; -moz- border-top-right-radius: 10px; -ms- border-top-right-radius: 10px; -o- border-top-right-radius: 10px; border-bottom-right-radius: 10px; -webkit- border-bottom-right-radius: 10px; -moz- border-bottom-right-radius: 10px; -ms- border-bottom-right-radius: 10px; -o- border-bottom-right-radius: 10px; color: #750198; font-size: 22px; padding: 0 15px 0 10px; } .header input {width: 100%; padding: 20px; height: 50px; font-family: OpenSans-Regular; font-size: 18px; color: #666666; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; }
.container .esqueceu-senha {position: absolute; right: 15px; margin-top: 5px; color: #666666; text-transform: uppercase; font-size: 10px; }
.container.home .btn {height: 35px; padding: 9px 25px 10px 25px; position: relative; top: 7px; border: 1px solid #969696; color: #969696; font-size: 12px; font-family: OpenSans-Bold; text-transform: uppercase; background: transparent; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px; -ms-border-radius: 17px; -o-border-radius: 17px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.container.home .btn:hover {border-color: #333333; color: #333333; }
.container .dropdown {list-style: none; top: 8px; }
.container .dropdown a {color: #000; font-size: 13px; }
.container .nome-usuario{font-family: OpenSans-Light; }
.container .nome-usuario span{font-family: OpenSans-Bold; }
.container .btn {height: 35px; border: 1px solid #969696; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px; -ms-border-radius: 17px; -o-border-radius: 17px; color: #969696; font-size: 12px; font-family: OpenSans-Bold; text-transform: uppercase; background: transparent; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.container .btn-group {height: 35px; border: 1px solid #969696; border-radius: 17px; -webkit-border-radius: 17px; -moz-border-radius: 17px; -ms-border-radius: 17px; -o-border-radius: 17px; }
.container .btn-group .btn {height: 20px; top: 5px; padding-top: 3px; border: none; border-left: 1px solid #969696; color: #969696; font-size: 12px; font-family: OpenSans-Bold; text-transform: uppercase; background: transparent; }
.container .btn-group .btn:first-child {border-left: none; }
.container .menu {background-color: #fff; height: 100px; width: auto; padding-top: 30px; }
.container .menu:first-child {border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-bottom-left-radius: 10px; -ms-border-bottom-left-radius: 10px; -o-border-bottom-left-radius: 10px; }

.nav-header {
	padding-right: 0;
}

.nav-header .box-nav-header {
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-ms-border-bottom-left-radius: 10px;
	-o-border-bottom-left-radius: 10px;
}

.nav-header .logo-franquia,
.nav-header .marca-do-corretor {
	width: 93px;
	margin-top: 30px;
}

.nav-header .bem-vindo {
	font-family: OpenSans-Light;
	font-size: 14px;
	color: #000;
}

.nav-header .bem-vindo .fa {
	color: #650084;
}

.bem-vindo br {
	display: none;
}


.nav-header .bar {
	display: none;
	border: none !important;
}

.nav-header .bar .fa{
	color: #333333;
	font-size: 35px;
	float: right;
	margin-top: -40px;
	margin-right: 10px;
}

.nav-header .bar .fa:hover {
	color: #777;
}

.nav-header .sobre-rsa {
	float: right;
	position: relative;
	right: 30px;
}

.nav-header .sobre-rsa {
	text-transform: uppercase;
	font-family: OpenSans-Bold;
	font-size: 12px;
	color: #969696;
}

.nav-header .nav-header-up {
	padding: 15px 0;
}

.nav-header .group-btns {
	border: 1px solid #969696;
	padding: 6px 0;
	width: 97%;
	text-align: center;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.nav-header .nav-header-down {
	padding-left: 0;
}

.nav-header .nav-header-down a {
	padding: 0;
	text-transform: uppercase;
	text-decoration: none !important;
	color: #3c025f;
	font-family: OpenSans-Bold;
	font-size: 12px;
	border-right: 1px solid #969696;
	padding: 5px 5px;
}

.nav-header .nav-header-down a:last-child {
	border: none;
}


.footer {background-color: #969696; height: 80px; padding: 15px; padding-top: 35px; }
.footer p {font-size: 12px; font-family: OpenSans-Regular; color: #ffffff; }

.contatos-rapidos {padding: 20px; margin-top: -107px; width: 290px; }
.contatos-rapidos .bg-transparent {background-color: #fff; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; opacity: 0.7; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1; }
.contatos-rapidos h3 {color: #3c025f; font-size: 28px; font-family: OpenSans-Light; }
.contatos-rapidos h5 {color: #3c025f; font-size: 12px; font-family: OpenSans-Bold; text-transform: uppercase; }
.contatos-rapidos p {color: #666666; font-size: 12px; font-family: OpenSans-Light; }
.contatos-rapidos .contato.cargo {color: #3c025f; font-size: 12px; font-family: OpenSans-Bold; }
.contatos-rapidos .contato.nome {color: #666666; font-size: 12px; font-family: OpenSans-Light; text-transform: uppercase; }
.contatos-rapidos .email {color: #666666; font-size: 12px; font-family: OpenSans-Light; }
.contatos-rapidos .telefone {color: #666666; font-size: 14px; }

/*SECTION HOME LOGADO*/
section {position: absolute; top: 690px; width: 100%; padding-top: 20px; }

.img-info img {z-index: -1; width: 100%; }
.img-info .box-text {position: absolute; top: 0; z-index: 999; padding: 30px; }
.img-info .box-text p {min-height: 150px; font-family: OpenSans-Bold; font-size: 26px; color: #ffffff; }

.video {width: 100%; height: 430px; }

h3 {color: #3c025f; font-family: OpenSans-Light; font-size: 26px; }
p {color: #666666; font-family: OpenSans-Light; font-size: 16px; }

.carousel-home-logado .data {color: #3c025f; font-family: OpenSans-Semibold; font-size: 12px; text-transform: uppercase; }
.carousel-home-logado .carousel-indicators li {border: 1px solid #650084; }
.carousel-home-logado .carousel-indicators .active {background-color: #650084; }
.carousel-home-logado .carousel-indicators {bottom: 20px; position: absolute; top: 40px; left: -75px; }
.carousel-inner {top: 40px; }
.carousel-box-text {padding-top: 50px; }

.news h5 {color: #3c025f; font-size: 12px; font-family: OpenSans-Bold; text-transform: uppercase; margin-top: 0; }
.news p {color: #666666; font-size: 12px; font-family: OpenSans-Light; }
.news .dados {color: #3c025f; font-size: 9px; font-family: OpenSans-Semibold; text-transform: uppercase; }
.news img {width: 100%; margin-bottom: 20px;}
.news {margin: 0; padding: 0; }
.news li {list-style: none; padding-top: 15px; border-bottom: 1px solid #e0e0e0; }
.news li:last-child {border: none; }

/*MATERIA*/
.data-publicacao{text-transform: uppercase; font-family: OpenSans-Semibold; font-size: 14px; color: #3c025f; }
.titulo-materia {text-transform: uppercase; font-family: OpenSans-Light; font-size: 50px; color: #3c025f; margin-bottom: 48px; }
.banner-materia{background-image: url(../img/banner-materia.png); background-size: 100% 100%; width: 100%; height: 655px; z-index: -10; position: absolute; top: 0; left: 0; }

/*VIDEOS*/
.videos {background-color: #f0f0f0; overflow-x: hidden; width: 32%; margin: 0 15px 0 0 !important;}
.videos ul {padding: 0; }
.videos h5 {color: #3c025f; font-size: 12px; font-family: OpenSans-Bold; text-transform: uppercase; margin-top: 0; }
.videos p {color: #666666; font-size: 12px; font-family: OpenSans-Light; }
.videos .dados {color: #3c025f; font-size: 9px; font-family: OpenSans-Semibold; text-transform: uppercase; } .videos img {width: 100%; }
.videos {margin: 0; padding: 0; }
.videos li {list-style: none; padding-top: 15px; border-bottom: 1px solid #e0e0e0; }
.videos li:last-child {border: none; }
.r-video .slimScrollBar{margin-right: 15px;}
.banner-video {width: 100%; height: 300px; z-index: -10; position: absolute; top: 0; left: 0; overflow: hidden; }
.banner-video .bg {width: 110%; height: 110%; background-image: url(../img/banner-video.png); background-repeat: no-repeat; background-size: 100%; margin-left: -5px; margin-top: -5px; -webkit-filter: blur(5px) brightness(30%); -moz-filter: blur(5px) brightness(30%); -o-filter: blur(5px) brightness(30%); -ms-filter: blur(5px) brightness(30%); filter: blur(5px) brightness(30%); }

/*.marca-do-corretor {position: relative; top: -18px; width: 130px;}*/

/*ADMIN*/
.admin {background-color: #f1f1f2; }
.admin p, .admin b, .admin span, .admin h1 .admin h2, .admin h3, .admin h4, .admin h5, .admin h6, .admin td {font-family: GillSansMTRegular; }
.admin p {color: #3c3d3d; font-size: 18px; }
.hr {background-color: #b0b0b0; width: 100%; height: 1px; margin-top: 20px; margin-bottom: 20px; }
.admin input[type="text"]:not(.admin table input[type="text"]), .admin input[type="email"], .admin input[type="password"] {margin-bottom: 10px; border: 1px solid #b0b0b0 !important; font-family: GillSansMTRegular; color: #ababab; font-size: 16px; height: 48px;}
.admin input.form-control {border: 1px solid #b0b0b0 !important; height: 48px; margin-bottom: 10px; }
.admin .file-input-wrapper {background-color: #e8e8e8; border: 1px solid #b0b0b0; font-family: GillSansMTRegular; font-size: 17px; color: #5b2d7f;}
.admin .file-input-wrapper:hover {background-color: #CFCFCF; color: #5b2d7f; }
.admin textarea {border: 1px solid #b0b0b0 !important; color: #ababab; font-size: 16px; font-family: GillSansMTRegular; box-shadow: none !important; resize: none;}

.admin .container-fluid {padding-right: 30px; padding-left: 30px; color: #ababab; font-size: 16px;}
.admin .col-lg-1, .admin .col-lg-10, .admin .col-lg-11, .admin .col-lg-12, .admin .col-lg-2, .admin .col-lg-3, .admin .col-lg-4, .admin .col-lg-5, .admin .col-lg-6, .admin .col-lg-7, .admin .col-lg-8, .admin .col-lg-9, .admin .col-md-1, .admin .col-md-10, .admin .col-md-11, .admin .col-md-12, .admin .col-md-2, .admin .col-md-3, .admin .col-md-4, .admin .col-md-5, .admin .col-md-6, .admin .col-md-7, .admin .col-md-8, .admin .col-md-9, .admin .col-sm-1, .admin .col-sm-10, .admin .col-sm-11, .admin .col-sm-12, .admin .col-sm-2, .admin .col-sm-3, .admin .col-sm-4, .admin .col-sm-5, .admin .col-sm-6, .admin .col-sm-7, .admin .col-sm-8, .admin .col-sm-9, .admin .col-xs-1, .admin .col-xs-10, .admin .col-xs-11, .admin .col-xs-12, .admin .col-xs-2, .admin .col-xs-3, .admin .col-xs-4, .admin .col-xs-5, .admin .col-xs-6, .admin .col-xs-7, .admin .col-xs-8, .admin .col-xs-9 {padding-right: 10px; padding-left: 10px; }

.admin .color-pink {color: #bc237f; }
.admin .color-pink:hover {color: #9D1E6A; }

.admin .btn {margin-bottom: 10px; font-size: 17px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; }
.admin .btn-purple {background-color: #5b2d7f; color: #fff; }
.admin .btn-purple:hover {background-color: #cd0084; color: #fff; }

.admin .panel {padding: 10px; border-color: #b0b0b0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; }

.admin .combo-add span {float: left; margin-right: 15px; }
.admin .combo-add input {font-size: 16px; font-family: GillSansMTItalico; color: #ababab; padding-left: 10px; height: 38px; width: 100%; display: inline-block; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; float: left; }
.admin .combo-add .view-btn {width: 1px; }
.admin .combo-add .view-btn .btn {float: right; margin-left: 10px; margin-bottom: 0; }
.admin .combo-add {display:table; width:100%; }
.admin .combo-row {display:table-row; }
.admin .combo-row > div {display: table-cell; }
.admin .combo-add .comp-add {opacity: 0; padding-bottom: 32px;}

.admin .table tr td:first-child{width: 1px;}
.admin .table tr:first-child td {border: none; }
.admin .btns {width: 42px; }
.admin .table {background-color: #fff !important; margin-bottom: 0; background: #fff; border: 1px solid #b0b0b0 !important; padding: 0 20px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; }
.admin .table .fa {font-size: 25px; color: #5b2d7f; margin-top: 4px; }
.admin .table td {font-size: 20px; color: #3c3d3d; height: 56px; }
.admin .table .text {border: 1px solid #b0b0b0 !important; width: 100%; height: 39px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; padding: 10px; color: #ababab; }
.admin .table .text:read-only {border: none !important; color: #3c3d3d; }
.admin .table .save-text,
.admin .table .cancel-edit {display: none; }
.admin #table-conteudo_length {display: none; }
.admin table.dataTable thead th {border-bottom: none; padding-left: 0; padding-right: 0; }
.admin table.dataTable thead p {color: #919191; font-size: 15px; background-color: #f2f2f3; width: 100%; padding: 13px 15px; height: 47px; }
.admin #table-conteudo tfoot {display: none; }
.admin table.dataTable thead .border-radius-left {border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-bottom-left-radius: 4px; -ms-border-bottom-left-radius: 4px; -o-border-bottom-left-radius: 4px; border-top-left-radius: 4px; -webkit-border-top-left-radius: 4px; -moz-border-top-left-radius: 4px; -ms-border-top-left-radius: 4px; -o-border-top-left-radius: 4px; }
.admin table.dataTable thead .border-radius-right {border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-bottom-right-radius: 4px; -ms-border-bottom-right-radius: 4px; -o-border-bottom-right-radius: 4px; border-top-right-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-top-right-radius: 4px; -ms-border-top-right-radius: 4px; -o-border-top-right-radius: 4px; }
.admin .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {color: #fff !important; font-size: 16px; font-family: GillSansMTNegrito; border: 1px solid #b0b0b0; background: #b1b1b1; }
.admin .dataTables_wrapper .dataTables_paginate .paginate_button {padding: 3px 10px; margin-left: 8px; text-align: center; text-decoration: none !important; cursor: pointer; color: #3c025f !important; font-size: 16px; font-family: GillSansMTNegrito; border: 1px solid #b0b0b0; }
.admin .dataTables_wrapper .dataTables_paginate .paginate_button:hover {color: #fff !important; border: 1px solid #555555; background: #555555; }
.admin .paginate_button.previous {margin-left: 0 !important; }
.admin .paginate_button.previous, .admin .paginate_button.next {font: normal normal normal 14px/1 FontAwesome !important; padding: 0; height: 30px; width: 30px; vertical-align: bottom; background-color: #3c025f !important; border-color: #3c025f !important; }
.admin .paginate_button.previous:hover, .admin .paginate_button.next:hover {background: #555555 !important; border-color: #555555 !important; }
.paginate_button.previous.disabled, .paginate_button.next.disabled {background-color: #B1B1B1 !important; border-color: #B1B1B1 !important; }
.admin .paginate_button.previous:before {content: "\f053"; position: relative; top: 5px; color: #fff; }
.admin .paginate_button.next:before {content: "\f054"; position: relative; top: 5px; color: #fff; }
.dataTables_paginate.paging_simple_numbers {background-color: #fff; border: 1px solid #b0b0b0; padding: 10px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; display: inline-block; margin-top: 15px; margin-bottom: 15px; }
.dataTables_wrapper .dataTables_paginate {float: none; text-align: center; width: auto; }
.admin .table>tbody>tr>td {vertical-align: middle; }
.admin table.dataTable tbody td {padding: 0px 10px; }
.admin .delete-row-table {background-color: #555555; color: #fff !important; font-size: 15px !important; }
.admin .delete-row-table .fa {color: #fff; }
.admin .btn-delete-row-table {text-decoration: none !important; background-color: #e8e8e8; color: #555555 !important; border: 1px solid #b0b0b0; padding: 10px 20px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; }
.admin .btn-delete-row-table:hover {border-color: #B3AEAE; background-color: #B3AEAE; }
.admin .table .data {color: #00c5de; }

.admin .login {width: 370px; margin: 0 auto; position: absolute; top: 50%; left: 50%; margin-top: -197px; margin-left: -185px; text-align: center; }
.admin .login .logo {width: 190px; margin-bottom: 25px; }
.admin .login .box {overflow:hidden; border: 1px solid #b0b0b0; border-top: 3px solid #5b2d7f; width: 100%; min-height: 187px; text-align: initial; padding: 10px; background-color: #fff; }
.admin .login .box h3 {font-size: 25px; color: #3c3d3d; margin-top: 20px; margin-bottom: 20px; }
.admin .login .box input[type="text"], .admin .login .box input[type="email"], .admin .login .box input[type="password"] {height: 48px; font-family: GillSansMTItalico; font-size: 16px; color: #ababab; }
.admin input[type=checkbox] {visibility: hidden; font: normal normal normal 14px/1 FontAwesome; margin-top: 2px; }
.admin input[type=checkbox]:before {content: ""; display: inline-block; width: 15px; height: 15px; visibility: visible; border: 1px solid #b0b0b0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; line-height: 12px; font-size: 15px; text-align: center; font-weight: bold; color: #5b2d7f; }
.admin input[type=checkbox]:checked:before {content: "\f00c"; }
.admin .checkbox label {color: #ababab; font-size: 14px; }
.admin .login .box button[type=submit], .admin .login .box a.btn {background-color: #5b2d7f; border: none; color: #fefeff; font-size: 20px; padding: 10px 25px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; }
.admin .login .box button[type=submit]:hover, .admin .login .box a.btn:hover {background-color: #bc237f; }
.admin a:not(.btn) {color: #ababab; font-size: 14px; text-decoration: underline; }
.admin a:hover {color: #8B8B8B; }
.admin .login .box .voltar {position: absolute; bottom: 25px; }
.admin .login .box .resp p {margin-top: 20px; color: #3c3d3d; font-size: 18px; }
.admin .login .box .btn-bottom {width: 100%; position: absolute; left: 0; bottom: 0; padding: 10px; padding-bottom: 15px; }
.admin .login .box .btn-bottom button, .admin .login .box .btn-bottom a.btn {width: 100%; }

.admin .header-admin {padding-top: 20px; padding-bottom: 30px; }
.admin .header-admin .logo {width: 109px; }
.admin .header-admin .select-menu {height: 35px; color: #3c3d3d; font-size: 18px; }

.admin .titulo {font-size: 20px; color: #3c3d3d; margin-top: 0; }

.admin .btn-gray {background-color: #e8e8e8; color: #5b2d7f; font-size: 17px; border-color: #b0b0b0; }
.admin .btn-gray:hover {background-color: #CFCFCF; color: #5b2d7f; }

.admin .home .box {background-color: #fff; border: 1px solid #b0b0b0; text-align: center; padding: 20px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; }
.admin .home .box .count {color: #cd0084; font-size: 120px; margin: 0; padding: 0; text-align: center; }
.admin .home .box .box-label {width: 100%; background-color: #f2f2f3; color: #3c3d3d; font-size: 18px; padding-top: 6px; padding-bottom: 6px; text-transform: uppercase; }
.admin .home .box .btn {margin-bottom: 20px; }
.admin .home .box .btn:last-child {margin-bottom: 0; }

.admin .menu-lateral {background-color: #fff; border: 1px solid #b1b1b1; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; margin-bottom: 20px; }
.admin .menu-lateral ul {margin: 0; padding: 0; padding: 10px; }
.admin .menu-lateral ul li ul {padding: 0; }
.admin .menu-lateral ul li:last-child a {border: none; }
.admin .menu-lateral ul li ul li:last-child a {border-bottom: 1px solid #e7e7e7; }
.admin .menu-lateral ul li ul li a {padding-left: 20px; }
.admin .menu-lateral li {list-style: none; }
.admin .menu-lateral a {color: #5b2d7f; font-size: 16px; text-decoration: none; text-transform: uppercase; border-bottom: 1px solid #e7e7e7; display: block; padding: 10px; }
.admin .menu-lateral a:hover {color: #cd0084; }
.admin .menu-lateral>ul>li>ul>li>a {text-transform: none; }

.admin .box .logo-franquia img {width: 100%; margin-bottom: 15px; }

.alert li{list-style-position: inside;}
/*RESPONSIVO*/
@media only screen and (max-width: 1540px) {
  .img-info .box-text p {min-height: 116px; font-family: OpenSans-Bold; font-size: 20px; color: #ffffff; }
}

@media only screen and (max-width: 370px) {
  .admin .login {width: 100%; left: 0; margin-left: 0; text-align: center; }
}