/*LARGE DESKTOPS*/
@media (min-width: 1201px) {

}

@media (max-width: 1470px) {
  .seq .seq-content .box {
    left: 170px;
    width: 500px;
  }

  .seq .seq-content h3 {
    font-size: 23px;
  }

  .seq .paginacao {
    left: 251px;
    margin-top: -75px;
  }
}

@media (min-width: 1201px) and (max-width: 1350px) {
  .nav-header-left {
    width: 23.333333%;
  }

  .nav-header-right {
    width: 60%;
  }
}

/*DESKTOPS*/
@media (max-width: 1200px) {
  .seq .seq-content .box {
    left: 100px;
  }

  .seq .paginacao {
    left: 183px;
  }

  .nav-header-left {
    width: 15.333333%;
  }

  .nav-header-right {
    width: 68%;
  }

  .nav-header .nav-header-down a {
    font-size: 11px;
  }
}


/*TABLETS*/
@media (max-width: 991px) {
  .group-btns,
  .sobre-rsa {
    display: none;
  }

  .nav-header .bem-vindo {
    position: relative;
    top: 16px;
  }

  .nav-header .bem-vindo br {
    display: block;
  }

  .nav-header .bar {
    display: block;
  }

  .nav-header .logo-franquia, .nav-header .marca-do-corretor {
    width: 120px;
    margin-top: 22px;
  }

  .nav-header-left {
    width: 8.33333333%;
  }

  .nav-header-right {
    width: 66.66666667%;
  }

  .img-info .box-text p {
    font-size: 16px;
    min-height: 90px;
  }

  .carousel-box-text {
    padding-top: 0;
  }

  .carousel-home-logado .carousel-indicators {
    left: 510px;
  }

  .logo-home {
    width: 209px;
  }
  .quero-ser-franqueado{
    display: none;
  }

  .input-login {
    margin-top: 56px !important;
  }

  .btn-sobre-rsa {
    margin-top: 0px !important;
  }

  .seq .paginacao {
    left: 102px;
    margin-top: -70px;
  }

  .seq .seq-content .box {
    left: 20px;
  }

  .seq .seq-content h3 {
    font-size: 28px;
  }

  .breadcrumb {background-color: inherit; position: relative; top: 22px;}

  .videos {
    background-color: #f0f0f0;
    overflow-x: hidden; 
    width: 32%;
    margin: 0 15px 0 15px !important;
  }

  .slimScrollDiv {
    margin-top: 15px;
  }  .seq .seq-content .box {
    width: 500px;
  }

  .seq .seq-content h3 {
    font-size: 23px;
  }
}

@media (max-width: 881px){
  .seq .paginacao{
    display: none;
  }
  .seq .seq-content .box {
    left: 20px;
    top: -650px;
  }

  .img-info .box-text p {
    font-size: 12px;
    min-height: 60px;
  }  
}

@media (max-width: 940px){
  .logo-rsa {
    width: 233px;
  }

  .contatos-rapidos {
    margin-top: -77px;
  }

  .carousel-home-logado .carousel-indicators {
    left: 497px;
  }
}

/*PHONES*/
@media (max-width: 768px) {
  .titulo-materia {
    font-size: 25px;
  }

  .seq {
    display: none;
  }

  .bg-login-mobile {
    background-image: url(../img/slide-header/img_01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .logo-home {
    width: 50%;
    max-width: 209px;
  }
}

@media (max-width: 363px) {
  .container.home .btn {
    padding: 9px 10px 10px 10px;
    font-size: 10px;
  }
}